[Unit]
Description = uWSGI

[Service]
ExecStart= /home/XXXX/repos/nn_weathermap/.venv/bin/uwsgi --ini /home/XXXX/repos/nn_weathermap/nn_weathermap/src/app/app.ini
ExecStop=/bin/kill -INT ${MAINPID}

[Install]
WantedBy=default.target
